* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100%;
    background: #ffffff;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    color: #e6e6e6;
    margin: 0;
    padding: 0;
    line-height: 1.4;
}

a {
    color: inherit;
    text-decoration: none;
}
.is_available {
    color: rgb(31, 177, 31);
}

.is_unavailable {
    color: rgb(226, 4, 4);
}
.container {
    box-sizing: border-box;
    width: calc(100% - 40px);
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}
.ma-topbar {
    position: fixed;
    width: 100%;
    color: #fff;
    background-color: #212529;
    font-size: 14px;
    z-index: 1;
}
.ma-topbar__container {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0px;
    display: flex;
    justify-content: space-between;
}
.ma-topbar__container div{
    padding: 0 10px;
}
.ma-topbar a {
    height: 40px;
}
.ma-topbar_container__infos img {
    margin-right: 8px;
}
.malogo a {
    font-size: 20px
}
.topbar {
    width: 100%;
    position: fixed;
    background: #fcfcfc;
    box-shadow: 0px 3px 3px rgba(0, 0, 0, .2);
    color: #000;
    *z-index: 1;
}
.ma-topbar_container__infos {
    display: flex;
    align-items: center;
}

.header {
    *display: flex;
}


.header-logo {
    display: block;
    text-align: center;
    *background: lightcoral;
    *padding: 11px 0;
    font-family: "Bauhaus 93";
    font-size: 60px;
    cursor: pointer;
    
}
.header-logo em {
    font-size: 18px;
    display: block;
    position: absolute;
    top: 62px;
    margin-left: 132px;
    font-family: Gabriola, sans-serif
}
.header-search {
    position: relative;
    text-align: right;
}
.header-search i {
    display: none;
    position: absolute;
    right: 13px;
    top: 9px;
}
.header-search a {
    padding-right: 20px;
}

.header-search input {
    width: 315px;
    height: 32px;
    display: none;
    border: 1px solid #b3b3b3;
    font-size: 12px;
    font-weight: bold;
    padding: 0 40px 0 8px;
    color: rgba(0, 0, 0, .4);   
}
.header-search input[type=text] {
    color: rgba(0, 0, 0, .6);
}

.header-nav {
    text-align: center;
    padding-bottom: 16px;
}

.header-nav a {
    font-weight: bold;
    color: #666666; 
}
.header-seconnecter {
    padding-right: 20px;
    border-right: 1px solid #e6e6e6;
}
.header-cart {
    padding-left: 20px;
}

.header-seconnecter::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    vertical-align: middle;
    background: center center / 18px 18px url(images/user.svg) no-repeat;
    margin-top: -4px;
    margin-right: 15px;
}
.header-cart::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 17px;
    vertical-align: middle;
    background: center center / 18px 17px url(images/cart.svg) no-repeat;
    margin-top: -4px;
    margin-right: 15px;
}


.site {
    padding-top: 68px;
    margin-bottom: 40px;
}

.main {
}



.category .category-title, .category .category-list {
    margin-bottom: 10px;
    padding: 10px;
    background: #fff;
    color: #000;
}
.category .category-title {
   font-size: 16px;
   font-weight: bold;
   text-transform: uppercase;
}

.category .category-list {
    display: flex;
    flex-wrap: wrap;
}

.category .category-list a {
    display: block;
    width: 50%;
    padding: 0.6em 0 0.6em 10px;
    margin-top: 5px;
    border: 1px solid transparent;
    opacity: 0.67;
    transition: .3s;
    font-family: Roboto, sans-serif;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: .13rem;

}

.category .category-list a:hover,
.category .category-list a:active {
    color: #000;
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    font-weight: bold;
}

.slide {
    width: 100%;
    margin-bottom: 15px;
}
.slide .fullwidth {
    width: calc(100% + 0px);
    display: block;
    margin-left: 0px;
    margin-right: 0px;
}
.clear {
    clear: both;
}
.last-articles {
    width: 100%;
}
.last-article-title {
    background: #fff;
    margin: 10px 0 25px 0;
    padding: 7px 0 7px 10px;
    color: #000;
}
.card {
    margin-bottom: 15px;
    
    background: #fff;
    color: #000;
}

.card-header img{
    border-bottom: solid 1px #c5c5c5;
    border-top: solid 1px #c5c5c5;
    border-radius: 15px;
}


.card-header .fullwidth {
    width: calc(100% - 0px);
    display: block;
    margin-left: 0px;
    margin-right: 0px;
}
.card-header a {
    cursor: zoom-in;
}
.card .card-body {
    padding: 0 10px;
    letter-spacing: 0.1em;
}
.card .card-title {
    display: none;
}
.card .card-title, 
.card .price,
.card .prc {
    padding-bottom: 4px;
}
.card {
    width: 100%;
    padding-bottom: 10px;
}
.card-img {
    position: relative;
}
.tooltip {
    position: absolute;
    bottom: 0;
}
.tooltip-img-price {
    margin-top: 8px
}
.test a { position: relative;display: block;text-align: center;}
.test a:hover .tooltiip {
    width: 100%;
    opacity: 1;
    transform: translateY(128%);
}
.test a img:hover {
    *filter: brightness(1.75);
}
.tooltiip {
    *text-align: center;
    background-color: #f8f8f8;
    color: #282a36;
    position: absolute;
    padding: 0.4em;
    bottom: 0;
    left: 0;
    transform: translateY(100%);
    opacity: 0;
    transition: 200ms;
}
.tooltiip:before {
    content: "";
    position: absolute;
    bottom: 100%;
    left: calc(50% - 8px);
    border-bottom: 8px solid #f8f8f8;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
}
.card .card-body .price, .tooltip-img-price {
    font-size: 16px;
    font-weight: bold;
}
.card-body {
    margin-top: 15px;
}
.card .card-body .prc {
    font-size: 10px;
    text-decoration: line-through;
}

.card .card-title {
    margin-top: 15px;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    
}

.footer {
    color: #fff;
    background: #4d4d4d;
}
.footer-bottom {
    background: #333333;
}
.footer-title {
    margin-bottom: 12px;
    font-family: "Bauhaus 93", sans-serif;
    font-size: 64px;
    letter-spacing: .4;
    
}
.footer-bottom-content {
    display: flex;
    justify-content: stretch;
    
    padding: 30px 15px;
}
.footer-bottom-content .social,
.footer-bottom-content .contactez-nous,
.footer-bottom-content .mode-paiement
 {
    width: 33.3%;
    font-size: 12px;
    text-transform: uppercase;
    *text-align: center;
}

.footer-bottom-content .social h4,
.footer-bottom-content .contactez-nous h4,
.footer-bottom-content .mode-paiement h4
 {
    margin-bottom: 8px;
}


@media only screen and (min-width: 550px) {

    .ma-topbar {
        font-size: 16px;
    }

    .ma-topbar__container {
    }
    .malogo a {
        font-size: 36px;
    }

    .header {
        display: flex;
        justify-content: space-between;
        padding: 0 25px;
    }
    .header-txt-info {
        margin-top: 32px;
    }

    .header-logo, .header-nav {
        padding: 0;
    }

    .site {
        padding-top: 140px;
    }
    



    .header-search input {
        display: block;
    }
    .header-search i {
        display: block;
    }

    .header-nav a {
        *margin: 0 20px;
    }

    .site {
        padding-top: 100px;
    }


    .site .last-articles {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
    }
    .site .last-articles .card {
        margin-left: 10px;
    }

    .site .last-articles .card-title {
        width: 100%;
    }
    .site .last-articles .card:first-child {
        margin-left: 0px;
    }

    .card {
        width: 100%;
    }
    
    .card .card-title {
        overflow: hidden;
        text-overflow: ellipsis;
        *white-space: nowrap;
        
    }
    


}



@media only screen and (min-width: 1050px) {

    .main {
        display: inline-block;
    }
    .category {
        float: left;
        width: 210px;
    }
    
    .category .category-list {
        flex: none;
        display: block;
    }
    .category .category-list a {
        width: 100%;
    }

    .slide {
        margin-left: 20px;
        margin-bottom: 0;
        width: calc(100% - 230px);
        float: left;
    }
   
    
}

.card-article-infos {
    padding: 20px;
    color: #6b6b6b;
}

.card-article, .card-article-infos {
    margin: 20px 0;
    background: #fff;
}

.card-article {
    
    display: flex;
}

.card-article-img {
    width: 570px;
    height: 395px;
}

.card-article-body {
    font-family: 'Open Sans';
    margin: 15px;
}

.card-article-body h1 {
    margin-bottom: 20px;
    color: #000;
}

.card-article-body p {
    margin-bottom: 15px;
    color: #6b6b6b;
    font-size: 14px;
    line-height: 1.6;
}
.card-article-price {
    font-size: 26px;
    font-weight: 600;
    color: #000;

    display: flex;
    justify-content: space-between;
    
}
.card-article-price span{
    text-transform: uppercase;
    font-weight: normal;
    
}

.card-article-command {
    color: #1a1a1a;
    font-size: 16px;
}

.card-article-command-button {
    border: 1px solid #6b6b6b;
    border-radius: 5px;
    background: #333333;
    font-size: 16px;
    color: #e6e6e6;
    cursor: pointer;
    padding: 10px;
    margin-bottom: 10px;
}

.card-article-command span {
    font-size: 40px;
    line-height: 1;
}

.pas-de-contenu {
    font-size: 20px;
    text-align: center;
}

.card-article-infos-title h2 {
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.card-article-infos-description table{
    width: 100%;
}

.card-article-infos-description table tr:nth-child(2n){
    background: #e6e6e6;
}

.card-article-infos-description table td{
    padding: 10px;
}

.td-title-b {
    font-weight: 600;
}